bittensor==10.2.0
torch==2.7.1
requests==2.32.5
aiohttp==3.13.3
timelock
python-dotenv==1.2.2
boto3==1.42.61
numpy==2.4.3
scikit-learn==1.8.0
scipy==1.17.1
matplotlib==3.10.8
pandas==3.0.1
seaborn==0.13.2
joblib==1.5.3
aiobotocore==3.2.1
shap==0.51.0
yfinance==1.2.0
tqdm==4.67.3
xgboost==3.2.0
cryptography==46.0.5
# pm2 (installed globally via npm)
